* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height:100vh;
  font-family: sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(https://images.unsplash.com/photo-1533610067042-1cee3c403282?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjR8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80);
  
  /* background: linear-gradient(rgb(67, 64, 241), rgb(39, 124, 235));
   background: linear-gradient(rgb(128, 40, 155), rgb(126, 23, 104)); */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  background-size: 100% 100%; 
   /* border:1px solid black;  */
}









/* .head {
  color: rgb(224, 224, 224);
  text-align: center;
  line-height: 25vh;
  font-size: 60px;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
} */


svg{
  stroke:#ebebeb;
  font-size:80px;
  font-weight: 600;
  stroke-width:1.3;
  /* margin:10px; */
  filter:drop-shadow(2px 2px 10px rgb(255, 255, 255));
  animation:animate1 3s ease forwards;
  
}
svg text{
  
  animation:fill1 1s ease forwards 3.1s;
}
@keyframes animate1 {
  0%{
      stroke-dasharray:0 20% ;
      stroke-dashoffset: 15%;
  }
  100%{
      stroke-dasharray: 20% 0%;
      stroke-dashoffset: -15%;
  }
  
}
@keyframes fill1 {
  from{
      fill:transparent;
  }
  to{
      /* fill:rgb(255, 255, 255); */
     
  }
  
}





















/* span {
  display: inline-block;
  opacity: 0;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0004); */
  /* line-height: 6.9vh; */
  /* transform: translateY(20px);
        transition:all 0.5s ease-in-out; */
/* .fade {
  opacity: 1;
  transform: translateY(0px);
  animation: animate 0.7s forwards ease-in;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  50% {
    opacity: 1;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
} */
input {
  background-color: rgba(86, 102, 99, 0.3);
  width: 100%;
  height: 30px;
  color: rgb(255, 255, 255);
  /* font-weight: bold; */
  font-family:monospace;
  /* position: absolute;
    top: 30%; */
  border: none;
  /* border:solid 0.5px grey; */
  text-align: center;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  height: 100%;
  font-size: 16px;
  letter-spacing: 1px;
  
  /* box-shadow:0px 0px 4px 0.5px rgb(155, 155, 155); */
  /* opacity: 0;
        animation: animate 0.6s forwards ease-in; */
}
::placeholder{
  color:rgb(255, 255, 255,0.4);
}
button {
  background-color: rgba(255, 137, 59, 0.363);
  /* box-shadow:0px 0px 3px 0.5px rgb(131, 133, 130); */
  position: absolute;
  top: 34%;
  color: white;
  border: none;
  text-align: center;
  border-radius: 8px;
  width: 70px;
  height: 30px;
  padding: 1px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}
button:active {
  background: rgba(36, 255, 29, 0.507);
}
.data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.result {
  position: absolute;
  top: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: white;
}
#temp,
#desc {
  /* border:1px solid black; */
  position: relative;
  top: 20px;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  text-align: center;
}
#C,
#F {
  /* color:rgb(81, 248, 156); */
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}
#desc {
  display: flex;
  justify-content: center;
  align-items: center;
}
#weather {
  text-align: center;
}
/* #voice{
    position: relative;
  } */
#mic {
  position: relative;

  top: 25px;
  width: 350px;
  height: 40px;
}
#mic i {
  position: absolute;
  top: 25%;
  right: 10px;
 
}
.fa-microphone {
  /* color: rgb(88, 90, 90); */
  color: rgb(255, 255, 255,0.7);
  font-size: 23px;
  position: absolute;
  cursor: pointer;
}
.fa-microphone:active {
  color:rgb(255, 255, 255);
}
.fa-search{
  color: rgb(255, 255, 255,0.7);
  left:10px;
  width:20px;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  svg{
    font-size: 70px;
  }
  /* .heading{
    height:200px;
  } */
  /* svg{
    
    font-size:80px;
    font-weight: 700;
    stroke-width:1;
    margin:30px;
    /* animation:animate1 3s ease forwards; */
    
  
  #mic{
      width:290px;
  }
  #temperature,#weather{
    
      font-size:15px;
     
  }
  #weather{
      position: relative;
      top:50px;
  }
  .result{
      flex-direction: column;
      top:50%;
  }

}
@media only screen and (max-width: 550px) {
  svg{
    font-size: 60px;
  }
  .heading{
    padding:0;
  }
  #mic{
    width:270px;
}


}
@media only screen and (max-width:430px){
  svg{
    font-size: 50px;
  }
}
@media only screen and (max-width: 360px) {
 svg{
   font-size: 45px;
 }
  #mic{
    width:270px;
}
#weather,#temperature{
  font-size:11px;
}
button{
  top:43%;
}
#mic{
  top:10%;
}
}
